.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.tif
*.cpg
*.prj
*.dbf
*.shx
*.xml
*.ovr
*.sbn
*.shp
*.sbx
*.clr
*.lyr
*.rda
*.rds
*.m
data/raw/rdhs/ETGE81FL.rds
data/raw/rdhs/ETKR81FL.rds
data/raw/rdhs/ETPR81FL.rds
data/raw/rdhs/MDGE81FL.rds
data/raw/rdhs/MDKR81FL.rds
data/raw/rdhs/MDPR81FL.rds
data/raw/rdhs/MLGE81FL.rds
data/raw/rdhs/MLKR81FL.rds
data/raw/rdhs/MLPR81FL.rds
